* {
    bg-col: #24273a;
    bg-col-light: #363a4f;
    border-col: #c6a0f6;
    selected-col: #494d64;
    green: #c6a0f6;
    fg-col: #cad3f5;
    fg-col2: #b8c0e0;
    grey: #6e738d;
    highlight: @green;
    element-bg: #24273a;
    element-alternate-bg: #1e2030;
}
