headerbar {
    min-height: 30px;
    padding: 0;
    margin: 0;
}

tabbar tabbox {
    margin: 0;
    padding: 0;
    min-height: 30px;
    background-color: #1e1e2e;
}

tabbar tabbox tab {
    margin: 0;
    padding: 0;
    color: #cdd6f4;
}

tabbar tabbox tab:selected {
    background-color: #313244;
    color: #cdd6f4;
}

tabbar tabbox tab label {
    font-size: 18px;
}
